[Unit]
Description=Radarr Podman container service
Documentation=https://hotio.dev/containers/radarr
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/run/user/1000/containers
BindsTo=pod-media-server.service
After=pod-media-server.service

[Container]
# ContainerName=media-server-radarr
Image=docker.io/hotio/radarr:release
Volume=config.volume
Volume=data.volume
  
[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
PIDFile=/run/user/1000/containers/overlay-containers/e41aede57d7409acb041e51fcd2e8df010cbd3d1e08684af4c8aff28165faaca/userdata/conmon.pid
Type=forking

[Install]
WantedBy=default.target
